extend layout
block content
  h1 Contact us
  p.lead A page for Contacting the company.
  address
    strong NodeShop.org
    br
    | Billy Topley
    br
    | Address 1
    br
    | Address 2
    br
    abbr(title="Phone") P:
    |  (123) 456-7890
    br
    abbr(title="Fax") F:
    |  (123) 456-7890
    br
    abbr(title="Email") E:
    |  billy.topley@gmail.com