extend layout
block content
  h2 #{locals.title}
  hr
  ul.thumbnails
      each product in products
        li.span3
          a(href="/product/#{product.seo}").thumbnail
            img(src="http://placehold.it/210x160", alt="")
            h6 #{product.name}
              p.pull-right £#{product.pricing.retail}
block scripts
  
  