extend layout
block content
  h2 #{title}
  hr
  .row
    form(action="/checkout/guest", method="post").form-horizontal#form
      fieldset.span6
        .control-group
            .control-group
                label.control-label(for="nameFirst") First Name 
                .controls
                    input(type="text", name="nameFirst", placeholder="First Name")
            .control-group
                label.control-label(for="nameLast") Last Name
                .controls
                    input(type="text",  name="nameLast", placeholder="Last Name")
        .control-group
            .control-group
                label.control-label(for="email") Email
                .controls
                    input(type="text", name="email", placeholder="Email Address")
        .control-group
            .control-group
                label.control-label(for="password") Password
                .controls
                    input(type="password", name="password", placeholder="Password")#password
            .control-group
                label.control-label(for="passwordConf") Password Confirm
                .controls
                    input(type="password", name="passwordConf", placeholder="Password Confirm")
        .control-group
            .control-group
                label.control-label(for="contactNum") Contact Number
                .controls
                    input(type="text", name="contactNum", placeholder="Contact Number")
      fieldset.span6
        .control-group
            .control-group
                label.control-label(for="address1") Address 1
                .controls    
                    input(type="text", name="address1", placeholder="Address 1")
            .control-group
                label.control-label(for="address2") Address 2
                .controls 
                    input(type="text", name="address2", placeholder="Address 2")
        .control-group
            .control-group
                label.control-label(for="addressTown") Town
                .controls
                    input(type="text", name="addressTown", placeholder="Town")
            .control-group
                label.control-label(for="addressProvince") Province
                .controls
                    input(type="text", name="addressProvince", placeholder="Province")
        .control-group
            .control-group
                label.control-label(for="addressPcd") Zip / Postal Code
                .controls
                    input(type="text", name="addressPcd", placeholder="Zip / Postal Code")
            .control-group
                label.control-label(for="addressCountry") Country
                .controls
                    select(name="addressCountry", data-countryList="US,GB").input-medium.bfh-countries
        .control-group
            .control-group
                .controls
                    label.checkbox
                        input(type='checkbox', name='checkTerms') 
                        span.help-inline Accept 
                            a(data-toggle="modal", data-target="#modal", href="/modals/terms") Terms & Conditions
            .control-group
                a(onclick="$('.row > form').submit();").btn.btn-primary.pull-right Continue
block scripts
        script(src="/js/controller/checkout/guest.js")
        script(src="/js/plugins/bootstrap-formhelpers-countries.js")
        script(src="/js/plugins/bootstrap-formhelpers-countries.en_US.js")